{% comment %}
  This section is used in the page template to render store pages like About us
  or Contact us.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/page
{% endcomment %}

<main>
  <h1>{{ page.title }}</h1>

  {{ page.content }}
</main>

{% schema %}
{
  "name": "t:general.page",
  "settings": []
}
{% endschema %}

{% stylesheet %}
  main {
    padding-top: 5em;
  }
{% endstylesheet %}
