<div class='contenedorTexto'>
  <div class='textoTexto'>
    {{ section.settings.texto }}
    {% if section.settings.enlace_boton != blank %}
      <div class='enlaceTexto botonDestacado'>
        <a href='{{ section.settings.enlace_boton }}' class='textoBoton'>
          {{ section.settings.texto_boton | default: 'Ver m치s' }}
        </a>
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Bloque de texto",
  "settings": [
    {
      "type": "richtext",
      "id": "texto",
      "label": "Texto"
    },
    {
      "type": "text",
      "id": "texto_boton",
      "label": "Texto del bot칩n",
      "default": "Ver m치s"
    },
    {
      "type": "url",
      "id": "enlace_boton",
      "label": "Enlace del bot칩n"
    }
  ],
  "presets": [
    {
      "name": "Bloque de texto",
      "category": "Decoraciones"
    }
  ]
}
{% endschema %}

{% stylesheet %}
  .contenedorTexto {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .textoTexto {
    color: black;
    padding: 1rem;
    text-align: center;
    font-size: 1.4em;
  }

  .textoTexto p {
    margin-top: 1em;
    font-size: 0.9em;
  }

  .enlaceTexto {
    margin-top: 2em;
  }
{% endstylesheet %}
