<h2 class='tituloSeccion'>{{ section.settings.titulo_seccion }}</h2>

{% schema %}
{
  "name": "Título",
  "settings": [
    {
      "type": "text",
      "id": "titulo_seccion",
      "label": "Título"
    }
  ],
  "presets": [
    {
      "name": "Título",
      "category": "Decoraciones"
    }
  ]
}
{% endschema %}
