{% assign video = settings.video_inicio.sources | where: 'format', 'mp4' | last %}

<div class='contenedorVideo full-width'>
  {% if video %}
    <video class='videoPantallaCompleta' loop autoplay muted playsinline>
      <source src='{{ video.url }}' type='video/mp4'>
    </video>
  {% else %}
    <p></p>
  {% endif %}

  <div class='video-text'>
    <p>{{ settings.video_texto }}</p>
  </div>
</div>

{% schema %}
{
  "name": "Video",
  "settings": [],
  "presets": [
    {
      "name": "Full width Video",
      "category": "t:general:row"
    }
  ]
}
{% endschema %}

{% stylesheet %}
  .videoPantallaCompleta {
    width: 100%;
    height: 100%;
    min-height: 600px;
    object-fit: cover;
  }
{% endstylesheet %}
