@import url('https://fonts.googleapis.com/css2?family=Mansalva&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

::selection {
  background-color: #30cac073;
  color: #130808;
}
